.select select {
    max-width: 300px !important;
}

.w-full {
    width: 100%;
}

.p-1 {
    padding: 1em;
}

.export-json,
.json-box textarea {
    height: 60vh;
    max-height: 60vh;
    overflow: auto;
}
